<header class="main-header">
  <div class="logo">
    <a href="/" class="logo__link">
    <svg class="logo__picture">
      <use xlink:href="#header-logo"></use>
    </svg>
    <span class="logo__subtitle">madrid</span>
    </a>
  </div>
  <!--Menu  -->
  <svg class="search-icon">
    <use xlink:href="#search_icon"></use>
  </svg>
  <svg class="menu-icon">
    <use xlink:href="#menu-icon"></use>
  </svg>
  <nav class="menu">
    <ul class="menu__list">
      <li class="menu__item"><a href="startups.html" class="menu__link">For startups</a></li>
      <li class="menu__item menu__item--hasDropdown"><a href="academy.html" class="menu__link">Coding academy</a>
      <div class="menu-dropdown">
        <a href="frontend-courses.html" class="menu-dropdown__item">Frontend Courses</a>
        <a href="ios_courses.html" class="menu-dropdown__item">iOS courses</a>
        </div>
      </li>
      <li class="menu__item"><a href="coworking.html" class="menu__link">Coworking</a></li>
      <li class="menu__item"><a href="events.html" class="menu__link">Events</a>
      </li>
      <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
      <li class="menu__item"><a href="about.html" class="menu__link">About us</a></li>
      <li class="menu__item"><a href="contact-us.html" class="menu__link">Contact us</a></li>
    </ul>
  </nav>
  <form action="none" class="menu__form">
    <input class="menu__search" type="search" placeholder="Search">
    <select class="menu__select" name="lang">
      <option value="RU">RU</option>
      <option value="EN">EN</option>
    </select>
  </form>
</header>
