<div class="promo">

     <div class="info">
       <div class="info__left">
         <div class="info__adress">Startup hub in Madrid</div>
       </div>
       <div class="info__right">
         <a href="mailto:info@imaguru.es" class="info__mail">info@imaguru.es</a>
         <button class="info__share"></button>
       </div>
     </div>

     <div class="main-text">
       <img class="main-text__img" src="img/logo-big.svg" alt="Imaguru">
       <p class="main-text__paragraph">where great startups meet tech talents</p>
     </div>

     <div class="features">
       <h2 class="features__title">All you need to build global tech startup</h2>
       <ul class="features__list">
         <li class="features__item">
           <a href="#">Tech Solutions</a>
         </li>
         <li class="features__item features__item--learn">
           <a href="#">Learn to code</a>
         </li>
         <li class="features__item features__item--cowork">
           <a href="#">Cowork with us</a>
         </li>
         <li class="features__item features__item--join">
           <a href="#">Join our events</a>
         </li>
       </ul>
     </div>

   </div>
