<div class="promo">

     <div class="info">
       <div class="info__left">
         <div class="info__adress">Startup hub in Madrid</div>
       </div>
       <div class="info__right">
         <a href="mailto:info@imaguru.es" class="info__mail">info@imaguru.es</a>
         <button class="info__share">
           <svg class="info__share-img">
               <use xlink:href="#share"></use>
           </svg>
         </button>
       </div>
     </div>

     <div class="main-text">
       <svg class="main-text__img">
         <use xlink:href="#logo-big"></use>
       </svg>
       <p class="main-text__paragraph">where great startups meet tech talents</p>
     </div>

     <div class="features">
       <h2 class="features__title">All you need to build global tech startup</h2>
       <ul class="features__list">
         <li class="features__item">
           <svg class="features__icon">
             <use xlink:href="#tech_icon"></use>
           </svg>
           <a href="#">Tech Solutions</a>
         </li>
         <li class="features__item">
           <svg class="features__icon">
             <use xlink:href="#code_icon"></use>
           </svg>
           <a href="#">Learn to code</a>
         </li>
         <li class="features__item">
           <svg class="features__icon">
             <use xlink:href="#cowork_icon"></use>
           </svg>
           <a href="#">Cowork with us</a>
         </li>
         <li class="features__item">
           <svg class="features__icon">
             <use xlink:href="#events__icon"></use>
           </svg>
           <a href="#">Join our events</a>
         </li>
       </ul>
     </div>

   </div>
