.banner {
  background-color: $red;
  padding: 60px $section-padding;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__text {
    font-size: 2.625rem;
    font-weight: 400;
    color: $white-color;
    flex: 0 0 60%;
    margin: 0;
    padding: 0;
  }

  .btn {
    font-size: 2rem;
    padding: 20px 40px;
  }
}

@media only screen  and (max-width: 980px) {
  .banner {
    flex-direction: column;
    min-height: 400px;

    &__text {
      flex: 0 0 100%;
      margin-bottom: 50px;
      text-align: center;
    }
  }

}
