.benefits {
  padding: 50px $section-padding;
  background-color: $grey;

  &__title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    text-align: center;
    flex: 0 0 16.6666667%;

    &:nth-child(n+7) {
      display: none;
    }
  }

  &__icon {
    width: 100px;
  }

  &__name {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    cursor: pointer;
    color: $orange;
    font-weight: 600;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 5px;
      height: 5px;
      left: 50%;
      border: 2px solid $orange;
      transform: translateX(-50%) rotate(45deg);
      border-left: none;
      border-top: none;
    }
  }
}

// ************ MEDIA ********************8
@media only screen and (max-width: 768px) {
  .benefits {
    &__item {
      flex: 0 0 30%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .benefits {
    &__item {
      flex: 0 0 50%;
    }
  }
}
