.contact-form {
  padding: 60px 11.71875%;
  background-color: $grey;

  font-weight: 300;
  font-family: Raleway, Arial, sans-serif;
  color: $dark-font-color;

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 1.875rem;
    line-height: 1.2;
  }

  input {
    display: block;
    width: 68.75%;
    margin-bottom: 40px;
    padding: 5px 0;
    background: transparent;

    border: none;
    border-bottom: 2px solid ($grey - 7);
    border-radius: 0;
    outline: none;

    transition: all 0.5s;

    &:focus {
      border-bottom: 2px solid $orange;
    }
  }

  .btn {
    margin-bottom: 0;
    padding: 12px 40px;
    display: inline-block;
    color: $orange;
    border: 3px solid $orange;
    width: auto;

    // background: none;
  }
}

// ************ MEDIA *******************
@media only screen and (max-width: 480px) {
  .contact-form {
    padding-top: 25px;
    padding-bottom: 40px;

    input {
      width: 100%;
    }
  }
}
