.course-structure {
	padding: 3rem 2rem;
	h3 {
		margin-bottom: 1rem;
	}
	.title-wrapper {
		height: 2em;
	}
	&__levels {
		&__level {
			width: 100%;
			display: inline-block;
			padding: 1rem;
			vertical-align: bottom;
			&__title {
				position: relative;
				display: inline-block;
				top: 50%;
				transform: translateY(-50%);
			}
			&__stripe {
				height: 1rem;
			}

			&--1 {
				.course-structure__levels__level__stripe {
					background: $level-os;
					max-width: 40%;
				}
			}
			&--2 {
				.course-structure__levels__level__stripe {
					background: $level-beginner;
					max-width: 60%;
				}
			}
			&--3 {
				.course-structure__levels__level__stripe {
					background: $level-mid;
					max-width: 80%;
				}
			}
			&--4 {
				.course-structure__levels__level__stripe {
					background: $level-adv;
					max-width: 100%;
				}
			}
		}
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
}

@media only screen and (min-width: 768px) {
	.course-structure {
		&__levels {
			.title-wrapper {
				height: 4.2em;
				line-height: 1.4;
				position: relative;
			}
			&__level {
				width: 25%;
				margin-right: -.2em;
				&__stripe {
					max-width: 100% !important;
				}
			}
		}
	}
}