.main-footer {
  position: relative;
  z-index: 2;
  font-family: Raleway, Arial, sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 70px 14.453125%;

  font-weight: 300;
  color: $white-color;

  background-color: $footer-bg;

  &__left,
  &__right {
    flex: 1 0 auto;
  }

  &__right {
    display: flex;
    justify-content: center;
  }
}

.footer-form {
  &__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.2;
  }

  input {
    display: block;
    width: 66.4%;
    margin-bottom: 25px;
    padding: 4px 0;

    font-size: 1rem;
    line-height: 1.2;
    color: $grey;

    background: none;
    border: none;
    border-bottom: 2px solid $grey;
    border-radius: 0;
    outline: none;
  }

  input[type="submit"] {
    padding: 7px 20px;
    font-weight: 600;
    font-family: Raleway;
    opacity: 1;

    @extend .btn;
  }

  input[type="submit"]:disabled {
    opacity: 0.1;

    &:hover {
      background: initial;
      cursor: default;
      color: initial;
    }
  }
}

.footer-menu {
  margin-right: 60px;

  &__list {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  .menu-item {
    margin-bottom: 10px;
    padding: 0;
  }

  a {
    font-size: 0.875rem;
    line-height: 1.2;
    color: $white-color;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.footer-social {
  @extend .footer-menu__list;

  &__item {
    margin-bottom: 10px;
    padding: 0;
  }

  a {
    font-size: 0.875rem;
    line-height: 1.2;
    color: $white-color;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}


// ******** MEDIA *************

@media only screen and (max-width: 640px) {
  .main-footer {
    flex-direction: column;
    justify-content: center;
    padding: 70px 10%;

    &__left {
      margin-bottom: 60px;
    }
  }

  .footer-form input {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .footer-form {
    &__title {
      font-size: 1.8rem;
    }
  }

  .footer-form .btn {
    font-size: 1rem;
  }

  .footer-menu a {
    font-size: 1.1rem;
  }

  .footer-social a {
    font-size: 1.1rem;
  }
}
