.main-header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 $section-padding;
}

.logo {
  display: flex;
  margin-right: 40px;

  &__picture {
    display: block;
    max-width: 180px;
    height: auto;
  }
}

.menu-icon {
  display: none;
  width: 20px;
  height: 20px;

  background: transparent url("../img/menu-icon.svg") no-repeat center;
}

.search-icon {
  margin-right: 10px;

  background: transparent url("../img/search_icon.svg") no-repeat;
  background-position: 2px 1px;

  @extend .menu-icon;
}

.menu {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__item {
    flex: 1 1 auto;
    margin-right: 20px;
    padding: 30px 0;

    transition: all 0.3s ease-in;

    &:hover {
      a {
        color: $orange;
      }
    }

    a {
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.2;
      font-family: Raleway, Arial, sans-serif;
      color: $header-font-color;
      text-decoration: none;
    }

    &--active {
      a {
        color: $orange;
      }
    }

    &--margin {
      position: relative;

      margin-left: 60px;
    }
  }

  &__form {
    position: relative;
  }

  &__search {
    position: absolute;
    right: 50px;
    z-index: 200;

    width: 1.2rem;
    height: 21px;

    font-size: 0;
    // padding: 10px 5px;
    color: $dark-font-color;

    background-image: url("../img/search_icon.svg");
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;

    transition: all 0.3s ease-in;

    &:focus {
      width: 700px;

      font-size: 1rem;

      background-color: $white-color;
      border-bottom: 1px solid $dark-font-color;
      cursor: text;
    }
  }

  &__select {
    font-weight: 600;
    font-size: 1rem;
    color: $dark-font-color;

    border: none;
    outline: none;
    opacity: 0.8;

    appearance: none;
  }
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;

  display: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 20px 0;

  color: $white-color;

  background-color: $header-font-color;

  a {
    margin-right: 30px;

    font-weight: 300;
    font-size: 1rem;
    color: $white-color;
  }
}

.menu__item--hasDropdown:hover .menu-dropdown {
  display: flex;
}

.menu__item--hasDropdown .menu-dropdown a {
  color: $white-color;

  &:hover,
  &:active {
    color: $orange;
  }
}
