.row {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &--blog {
    display: block;

    &::after {
      content: "";

      display: block;
      clear: both;
    }
  }
}

.content-block {
  position: relative;

  flex-basis: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px 9.375% 130px;

  font-weight: 500;
  font-family: Raleway, Arial, sans-serif;
  color: $white-color;

  background-color: $orange;
  min-height: 350px;

  &--white {
    color: $orange;

    background-color: $white-color;
  }

  &--move {
    padding: 0;
    position: relative;
    background-image: url("../img/move_bg.jpg");
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;

    &--coworking {
      font-size: 2.25rem;
      font-weight: 400;
      margin-bottom: 40px;
      text-align: center;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 1.25rem;
    line-height: 1.5;

    &--coworking {
      font-size: 2.25rem;
      font-weight: 600;
    }
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba($orange, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__benefits {
    color: $dark-font-color;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin-bottom: 30px;
      font-weight: 500;
      font-size: 1.125rem;

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url("../img/tick.svg") no-repeat;
        vertical-align: top;
        margin-right: 15px;
      }
    }
  }

  .btn {
    bottom: 15.2%;
    margin-top: 20px;
  }
}

// ************ MEDIA *************

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;

    -webkit-box-orient: vertical;
  }

  .content-block {
    flex-basis: 100%;

    &--high {
      min-height: 500px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .content-block {
    &--high {
      min-height: 640px;
    }
    // &--white {
    //   order: -1;
    // }
  }
}
