// использовал float для совестимости с ie
.slider {
  position: relative;

  width: 100%;

  color: $dark-font-color;

  &__slide {
    display: block !important;
    max-height: 500px;

    &::after {
      content: "";

      display: table;
      clear: both;
    }

    &--high {
      max-height: 650px;
    }
  }

  &__text {
    float: left;
    width: 50%;
    padding: 5% 10%;

    font-weight: 300;
  }

  &__image {
    float: right;
    width: 50%;
    max-height: 650px;

    img {
      display: block;
      width: 100%;
      max-width: 700px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-weight: 300;
    font-size: 2.5rem;
    line-height: 1.2;
    color: $dark-font-color;

    &--coworking {
      margin-bottom: 15px;

      font-size: 1.875rem;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-size: 1.25rem;
    line-height: 1.2;

    &--coworking {
      margin-bottom: 20px;

      font-size: 1rem;
    }
  }

  &__benefits {
    margin: 0;
    padding: 0;

    list-style-type: none;
    font-weight: 500;
    font-size: 1.125rem;
  }

  &__benefits-item {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 1rem;

    &::before {
      content: "";

      display: inline-block;
      width: 7px;
      height: 7px;
      margin-right: 15px;

      background-color: $orange;
      border-radius: 50%;
    }

    &:first-child {
      margin-top: 15px;
    }

    &--tick {
      &::before {
        width: 15px;
        height: 15px;

        background-color: transparent;
        background-image: url("../img/tick.svg");
      }
    }
  }

  &__more {
    margin: 0;
    margin-top: 30px;
    padding: 0;

    font-weight: 500;
    font-size: 1.125rem;
  }

  .btn {
    margin-top: 25px;
    margin-bottom: 0;
  }

  &--right {
    .slider__text {
      float: right;
    }

    .slider__image {
      float: left;
    }
  }
}

.tablet {
  display: none;
}

// ************ MEDIA **************

@media only screen and (max-width: 1024px) {
  .desktop {
    display: none !important;
  }

  .tablet {
    display: block;
  }

  .slider {
    &__image,
    &__text {
      float: none;
      width: 100%;
    }

    &__image {
      max-height: inherit;

      img {
        max-width: 100%;
        max-height: 500px;
      }
    }

    &__slide {
      max-height: inherit;
    }
  }
}

@media only screen and (max-width: 480px) {
  .slider {
    &__text {
      padding-bottom: 60px;

      &--startups,
      &--developers {
        padding-top: 60px;
      }
    }
  }
}
