.team {
  padding: 60px $section-padding;
  text-align: center;
  background-color: $grey;

  &__title {
    font-size: 1.875rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  &__descr {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }


  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex: 0 0 30%;
    margin-bottom: 40px;

    &:nth-child(n+4) {
      display: none;
    }
  }

  &__image {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__name {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  &__position {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
  }

  &__item-descr {
    @extend .team__position;
  }

  &__button {
    @extend .benefits__button;
  }
}

// ************ MEDIA *************

@media only screen and (max-width: 640px) {
  .team {
    &__item {
      flex: 0 0 50%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .team {
    &__item {
      flex: 0 0 100%;
    }
  }
}
