$header-font-color: #2a2f33;
$white-color: #ffffff;
$orange: #f05030;
$dark-font-color: #433e3d;
$blue: #4665bb;
$grey: #f2f2f2;
$footer-bg: #202327;
$section-padding: 10.9375%;
$green: #87cc76;
$light-blue: #3ca0c9;
